In [3]:


import pandas as pd
import os

df_gitlab = pd.read_json(os.getcwd() + "/../dataset/gitlab_issues_2023_01_15.json")
df_charts = pd.read_json(os.getcwd() + '/../dataset/gitlab_charts_gitlab_2023_01_05.json')
df_kicad = pd.read_json(os.getcwd() + "/../dataset/kicad_2023_01_15.json")
df_tezos =  pd.read_json(os.getcwd() + "/../dataset/tezos_2023_01_15.json")

c:\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:528: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)

In [27]:
lista_nomes = ['gitlab', 'charts', 'kicad', 'tezos']
lista_couts = list()
lista_couts.append(df_gitlab.shape[0])
lista_couts.append(df_charts.shape[0])
lista_couts.append(df_kicad.shape[0])
lista_couts.append(df_tezos.shape[0])
lista_story_points = list()
lista_story_points.append(df_gitlab["weight"].sum())
lista_story_points.append(df_charts["weight"].sum())
lista_story_points.append(df_kicad["weight"].sum())
lista_story_points.append(df_tezos["weight"].sum())

In [28]:
lista = list(zip(lista_nomes, lista_couts, lista_story_points))

In [29]:
df_resumo = pd.DataFrame(lista, columns=["Projeto", "Tarefas", "Story Points"])

In [30]:
df_resumo

  Projeto  Tarefas  Story Points
0  gitlab    19548         41270
1  charts       15            31
2   kicad     3284         34692
3   tezos      103          2771

In [26]:
df_resumo["Tarefas"].sum()

22950

In [4]:
lista_couts.append(df_gitlab.shape[0])

(19548, 40)

In [5]:
df_charts.shape

(15, 40)

In [8]:
df_kicad.shape

(3284, 40)

In [9]:
df_tezos.shape

(103, 40)