In [7]:
import pandas as pd
import os

df_gitlab = pd.read_json(os.getcwd() + "/../dataset/gitlab_issues_2023_01_15.json")
df_charts = pd.read_json(os.getcwd() + '/../dataset/gitlab_charts_gitlab_2023_01_05.json')
df_kicad = pd.read_json(os.getcwd() + "/../dataset/kicad_2023_01_15.json")
df_tezos =  pd.read_json(os.getcwd() + "/../dataset/tezos_2023_01_15.json")
df_veloren =  pd.read_json(os.getcwd() + "/../dataset/veloren_2023_04_05.json")
df_lazarus =  pd.read_json(os.getcwd() + "/../dataset/lazarus_2023_04_05.json")

df_21149814 =  pd.read_json(os.getcwd() + "/../dataset/21149814.json")
df_1304532 = pd.read_json(os.getcwd() + "/../dataset/1304532.json")
df_10171280 = pd.read_json(os.getcwd() + "/../dataset/10171280.json")
df_10171270 = pd.read_json(os.getcwd() + "/../dataset/10171270.json")
df_2670515 = pd.read_json(os.getcwd() + "/../dataset/2670515.json")
df_28847821 = pd.read_json(os.getcwd() + "/../dataset/28847821.json")
df_10171263 = pd.read_json(os.getcwd() + "/../dataset/10171263.json")
df_10152778 = pd.read_json(os.getcwd() + "/../dataset/10152778.json")
df_19921167 = pd.read_json(os.getcwd() + "/../dataset/19921167.json")
df_12450835 = pd.read_json(os.getcwd() + "/../dataset/12450835.json")
df_7764 = pd.read_json(os.getcwd() + "/../dataset/7764.json")
df_4456656 = pd.read_json(os.getcwd() + "/../dataset/4456656.json")
df_7128869 = pd.read_json(os.getcwd() + "/../dataset/7128869.json")
df_7071551 = pd.read_json(os.getcwd() + "/../dataset/7071551.json")
df_12894267 = pd.read_json(os.getcwd() + "/../dataset/12894267.json")
df_23285197 = pd.read_json(os.getcwd() + "/../dataset/23285197.json")
df_7603319 = pd.read_json(os.getcwd() + "/../dataset/7603319.json")
df_7776928 = pd.read_json(os.getcwd() + "/../dataset/7776928.json")
df_6206924 = pd.read_json(os.getcwd() + "/../dataset/6206924.json")
df_2009901 = pd.read_json(os.getcwd() + "/../dataset/2009901.json")
df_12584701 = pd.read_json(os.getcwd() + "/../dataset/12584701.json")
df_14052249 = pd.read_json(os.getcwd() + "/../dataset/14052249.json")
df_1714548 = pd.read_json(os.getcwd() + "/../dataset/1714548.json")
df_734943 = pd.read_json(os.getcwd() + "/../dataset/734943.json")
df_28644964 = pd.read_json(os.getcwd() + "/../dataset/28644964.json")
df_14976868 = pd.read_json(os.getcwd() + "/../dataset/14976868.json")
df_5261717 = pd.read_json(os.getcwd() + "/../dataset/5261717.json")

In [8]:
print('gitlab', df_gitlab.shape)
print('charts', df_charts.shape)
print('kicad', df_kicad.shape)
print('tezos', df_tezos.shape)
print('veloren', df_veloren.shape)
print('lazarus', df_lazarus.shape)

print('21149814', df_lazarus.shape)
print('1304532', df_lazarus.shape)
print('10171280', df_lazarus.shape)
print('10171270', df_lazarus.shape)
print('2670515', df_lazarus.shape)
print('28847821', df_lazarus.shape)
print('10171263', df_lazarus.shape)
print('10152778', df_lazarus.shape)
print('19921167', df_lazarus.shape)
print('12450835', df_lazarus.shape)
print('7764', df_lazarus.shape)
print('4456656', df_lazarus.shape)
print('7128869', df_lazarus.shape)
print('7071551', df_lazarus.shape)
print('12894267', df_lazarus.shape)
print('23285197', df_lazarus.shape)
print('7603319', df_lazarus.shape)
print('7776928', df_lazarus.shape)
print('6206924', df_lazarus.shape)
print('2009901', df_lazarus.shape)
print('12584701', df_lazarus.shape)
print('14052249', df_lazarus.shape)
print('1714548', df_lazarus.shape)
print('734943', df_lazarus.shape)
print('28644964', df_lazarus.shape)
print('14976868', df_lazarus.shape)
print('5261717', df_lazarus.shape)

gitlab (19548, 40)
charts (15, 40)
kicad (3284, 40)
tezos (103, 40)
veloren (178, 40)
lazarus (144, 40)
21149814 (144, 40)
1304532 (144, 40)
10171280 (144, 40)
10171270 (144, 40)
2670515 (144, 40)
28847821 (144, 40)
10171263 (144, 40)
10152778 (144, 40)
19921167 (144, 40)
12450835 (144, 40)
7764 (144, 40)
4456656 (144, 40)
7128869 (144, 40)
7071551 (144, 40)
12894267 (144, 40)
23285197 (144, 40)
7603319 (144, 40)
7776928 (144, 40)
6206924 (144, 40)
2009901 (144, 40)
12584701 (144, 40)
14052249 (144, 40)
1714548 (144, 40)
734943 (144, 40)
28644964 (144, 40)
14976868 (144, 40)
5261717 (144, 40)

In [10]:
lista_nomes = ['gitlab', 'charts', 'kicad', 'tezos', 'veloren','lazarus', '21149814',
'1304532', 
'10171280',
'10171270',
'2670515',
'28847821',
'10171263',
'10152778',
'19921167',
'12450835',
'7764',
'4456656',
'7128869',
'7071551',
'12894267',
'23285197',
'7603319',
'7776928',
'6206924',
'2009901',
'12584701',
'14052249',
'1714548',
'734943',
'28644964',
'14976868',
'5261717'
]

lista_couts = list()
lista_couts.append(df_gitlab.shape[0])
lista_couts.append(df_charts.shape[0])
lista_couts.append(df_kicad.shape[0])
lista_couts.append(df_tezos.shape[0])
lista_couts.append(df_veloren.shape[0])
lista_couts.append(df_lazarus.shape[0])

lista_couts.append(df_21149814.shape[0])
lista_couts.append(df_1304532.shape[0])
lista_couts.append(df_10171280.shape[0])
lista_couts.append(df_10171270.shape[0])
lista_couts.append(df_2670515.shape[0])
lista_couts.append(df_28847821.shape[0])
lista_couts.append(df_10171263.shape[0])
lista_couts.append(df_10152778.shape[0])
lista_couts.append(df_19921167.shape[0])
lista_couts.append(df_12450835.shape[0])
lista_couts.append(df_7764.shape[0])
lista_couts.append(df_4456656.shape[0])
lista_couts.append(df_7128869.shape[0])
lista_couts.append(df_7071551.shape[0])
lista_couts.append(df_12894267.shape[0])
lista_couts.append(df_23285197.shape[0])
lista_couts.append(df_7603319.shape[0])
lista_couts.append(df_7776928.shape[0])
lista_couts.append(df_6206924.shape[0])
lista_couts.append(df_2009901.shape[0])
lista_couts.append(df_12584701.shape[0])
lista_couts.append(df_14052249.shape[0])
lista_couts.append(df_1714548.shape[0])
lista_couts.append(df_734943.shape[0])
lista_couts.append(df_28644964.shape[0])
lista_couts.append(df_14976868.shape[0])
lista_couts.append(df_5261717.shape[0])

lista_story_points = list()
lista_story_points.append(df_gitlab["weight"].sum())
lista_story_points.append(df_charts["weight"].sum())
lista_story_points.append(df_kicad["weight"].sum())
lista_story_points.append(df_tezos["weight"].sum())
lista_story_points.append(df_veloren["weight"].sum())
lista_story_points.append(df_lazarus["weight"].sum())

lista_story_points.append(df_21149814["weight"].sum())
lista_story_points.append(df_1304532["weight"].sum())
lista_story_points.append(df_10171280["weight"].sum())
lista_story_points.append(df_10171270["weight"].sum())
lista_story_points.append(df_2670515["weight"].sum())
lista_story_points.append(df_28847821["weight"].sum())
lista_story_points.append(df_10171263["weight"].sum())
lista_story_points.append(df_10152778["weight"].sum())
lista_story_points.append(df_19921167["weight"].sum())
lista_story_points.append(df_12450835["weight"].sum())
lista_story_points.append(df_7764["weight"].sum())
lista_story_points.append(df_4456656["weight"].sum())
lista_story_points.append(df_7128869["weight"].sum())
lista_story_points.append(df_7071551["weight"].sum())
lista_story_points.append(df_12894267["weight"].sum())
lista_story_points.append(df_23285197["weight"].sum())
lista_story_points.append(df_7603319["weight"].sum())
lista_story_points.append(df_7776928["weight"].sum())
lista_story_points.append(df_6206924["weight"].sum())
lista_story_points.append(df_2009901["weight"].sum())
lista_story_points.append(df_12584701["weight"].sum())
lista_story_points.append(df_14052249["weight"].sum())
lista_story_points.append(df_1714548["weight"].sum())
lista_story_points.append(df_734943["weight"].sum())
lista_story_points.append(df_28644964["weight"].sum())
lista_story_points.append(df_14976868["weight"].sum())
lista_story_points.append(df_5261717["weight"].sum())

In [11]:
lista = list(zip(lista_nomes, lista_couts, lista_story_points))

In [12]:
df_resumo = pd.DataFrame(lista, columns=["Projeto", "Tarefas", "Story Points"])

In [13]:
df_resumo

     Projeto  Tarefas  Story Points
0     gitlab    19548       41270.0
1     charts       15          31.0
2      kicad     3284       34692.0
3      tezos      103        2771.0
4    veloren      178         502.0
5    lazarus      144       17800.0
6   21149814     1942        5668.0
7    1304532     1729        4520.0
8   10171280     2796        7213.0
9   10171270     1845        5695.0
10   2670515     1574        3137.0
11  28847821     1004        2665.0
12  10171263      982        3742.0
13  10152778      521        1594.0
14  19921167      420        1802.0
15  12450835      424        5798.0
16      7764      355         970.0
17   4456656      344         684.0
18   7128869      327        1355.0
19   7071551      310         600.0
20  12894267      285        1419.0
21  23285197      284         507.0
22   7603319      237        1107.0
23   7776928      216         442.0
24   6206924       42          91.0
25   2009901      171         401.0
26  12584701      171        1106.0
27  14052249      167         509.0
28   1714548      154         400.0
29    734943      121         265.0
30  28644964      102       14200.0
31  14976868      113         721.0
32   5261717      106         185.0

In [14]:
print("Total de Tarefas:", df_resumo["Tarefas"].sum())

Total de Tarefas: 40014

In [15]:
print("Total de SP:", df_resumo["Story Points"].sum())

Total de SP: 163862.0