In [1]:
import pandas as pd
import os

df = pd.read_json(os.getcwd() + "/../dataset/gitlab_issues_2023_01_15.json")

c:\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:528: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)

In [2]:
df.shape

(19548, 40)

In [3]:
print(df.columns)

Index(['id', 'iid', 'project_id', 'title', 'description', 'state',
       'created_at', 'updated_at', 'closed_at', 'closed_by', 'labels',
       'milestone', 'assignees', 'author', 'type', 'assignee',
       'user_notes_count', 'merge_requests_count', 'upvotes', 'downvotes',
       'due_date', 'confidential', 'discussion_locked', 'issue_type',
       'web_url', 'time_stats', 'task_completion_status', 'weight',
       'blocking_issues_count', 'has_tasks', '_links', 'references',
       'severity', 'moved_to_id', 'service_desk_reply_to', 'epic_iid', 'epic',
       'iteration', 'health_status', 'task_status'],
      dtype='object')

In [6]:
df["weight"].describe()

count    19548.000000
mean         2.111213
std          1.812574
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max        160.000000
Name: weight, dtype: float64

In [4]:
df["weight"].value_counts()

1      7747
2      6048
3      3856
5      1122
4       317
8       173
0       119
6        68
13       26
10       25
7        23
9        16
11        2
15        2
160       1
20        1
30        1
34        1
Name: weight, dtype: int64

In [5]:
df.sample(3)

,id,iid,project_id,title,description,state,created_at,updated_at,closed_at,closed_by,...,_links,references,severity,moved_to_id,service_desk_reply_to,epic_iid,epic,iteration,health_status,task_status
3732,35171780,219493,278964,Only suggest confidential issues when adding i...,### Summary\n\nPublic issues are suggested whe...,closed,2020-05-29 12:58:34.587,2021-11-08 16:53:15.816,2020-08-12 20:57:14.654000128,"{'id': 5965371, 'username': 'jlear', 'name': '...",...,{'self': 'https://gitlab.com/api/v4/projects/2...,"{'short': '#219493', 'relative': '#219493', 'f...",UNKNOWN,NaN,NaN,3003.0,"{'id': 38085, 'iid': 3003, 'title': 'New Epics...",None,None,None
5647,31079361,207385,278964,Add unique constraint to services table to all...,There should be a unique index for `project_id...,closed,2020-02-20 14:17:40.144,2022-11-22 20:09:54.741,2021-02-02 13:42:06.076999936,"{'id': 423116, 'username': 'toupeira', 'name':...",...,{'self': 'https://gitlab.com/api/v4/projects/2...,"{'short': '#207385', 'relative': '#207385', 'f...",UNKNOWN,NaN,NaN,3366.0,"{'id': 56441, 'iid': 3366, 'title': 'Cleanup i...",None,None,None
7733,25519752,33180,278964,Document when and how a suggested MR is create...,Wait for https://gitlab.com/gitlab-org/gitlab/...,closed,2019-10-01 20:43:33.769,2021-04-03 08:31:02.967,2020-04-29 10:17:56.016999936,"{'id': 1378158, 'username': 'brytannia', 'name...",...,{'self': 'https://gitlab.com/api/v4/projects/2...,"{'short': '#33180', 'relative': '#33180', 'ful...",UNKNOWN,NaN,NaN,2165.0,"{'id': 14751, 'iid': 2165, 'title': 'Enable 3r...",None,None,None

In [13]:
df[["title", "description", "weight"]].sample(3)

,title,description,weight
11411,Enable the certificate-based clusters feature ...,<!-- This template is a great use for issues t...,3
5141,Provide instance level setting to enable or di...,Follow up to: https://gitlab.com/gitlab-org/gi...,5
13817,Remove the ignore rule for bio_html and cached...,A follow up to https://gitlab.com/gitlab-org/g...,1

In [9]:
agrupado = df.groupby(["weight"]).size()
dfagrupado = pd.DataFrame(agrupado)
dfagrupado = dfagrupado.rename(columns={0: 'quantidade'})
dfagrupado

        quantidade
weight
0              119
1             7747
2             6048
3             3856
4              317
5             1122
6               68
7               23
8              173
9               16
10              25
11               2
13              26
15               2
20               1
30               1
34               1
160              1