In [2]:
import pandas as pd
import os

df = pd.read_json(os.getcwd() + "/../dataset/kicad_2023_01_15.json")

In [3]:
df.shape

(3284, 40)

In [4]:
df["weight"].describe()

count    3284.000000
mean       10.563946
std        14.193085
min         4.000000
25%         6.000000
50%         6.000000
75%        10.000000
max       268.000000
Name: weight, dtype: float64

In [5]:
df["weight"].value_counts()

6      2103
10      354
14      169
8       142
12       86
18       80
16       63
22       56
20       31
26       26
30       21
24       17
34       16
32       15
28       12
38       10
40        6
36        5
42        5
50        5
46        5
62        4
44        4
70        4
68        4
58        3
48        3
64        2
60        2
54        2
4         2
78        2
268       1
96        1
150       1
186       1
182       1
136       1
156       1
106       1
102       1
172       1
174       1
164       1
100       1
114       1
234       1
200       1
72        1
52        1
144       1
140       1
74        1
76        1
56        1
86        1
82        1
Name: weight, dtype: int64